.grid {
  display: grid;
  grid-gap: 10px;


}

#jMyPuzzleId5 {
    height: 42px;
    grid-column: 1;

}
#jMyPuzzleId6 {
    grid-column: 1;
        height: 42px;

}
#jMyPuzzleId7 {
    grid-column: 1;
        height: 42px;

}

.splitList-horizontal {
  width: inherit;
  position: absolute;
  display: block;
  
        list-style-type: none;

}
.listItem-horizontal {

  position: absolute;

  height: 42px;
  line-height: 40px;
  margin-left: 10px;
  padding-left: 8px;
  padding-right: 8px;
  border: 1px solid black;
  white-space: nowrap;
}
.listItem-horizontal span {
  font-size: 18px;
  color: #00A2CD;
  z-index: 210;
  font-style: italic;
  opacity: 1;
}
.listItem-horizontal .liButton {
  width: 150px;
  margin-left: 4px;
  margin-right: 4px;
}
